<%= form_with model: recipe, local: true do |recipe_form| %>
  <%= render 'layouts/error_messages', model: recipe_form.object %>
  
  <div class="row mb-3">
    <div class="col-sm-1">
      <%= recipe_form.label :'title', class: "col-form-label" %>
    </div>
    <div class="col-sm-6">
      <%= recipe_form.text_field :title, :placeholder => "レシピのタイトルを入力", class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-sm-1">
      <%= recipe_form.label :'explanation', class: "col-form-label" %>
    </div>
    <div class="col-sm-6"><%= recipe_form.text_area :explanation, :placeholder => "レシピの説明を入力", class: "form-control" %></div>
  </div>
  
  <div class="row mb-3">
    <%= recipe_form.label :'img', class: "col-form-label col-sm-1" %>
    <div class="col-sm-6"><%= recipe_form.file_field :image, id: :recipe_img, class: "form-control" %></div>
  </div>
  <div class="row pb-3">
    <div class="col-4 offset-1">
      <% if @recipe.image.present? %>
        <%= image_tag @recipe.image.url, id: :img_prev, class: 'img-fluid', alt: "レシピ写真" %>
      <% else %>
        <%= image_tag "no_image_square.jpeg", id: :img_prev, class: 'img-fluid', alt: "レシピ写真" %>
      <% end %>
    </div>
  </div>

  <%= recipe_form.fields_for :ingredients do |ingredients_form| %>
    
    <div class="row mb-3">
      <label class="col-form-label col-sm-1"><%= "材料#{ingredients_form.index + 1}" %></label>
      <div class="col-sm-6 d-flex align-items-center">
        <%= ingredients_form.collection_select :food_id, Food.all, :id, :name, {include_blank: "選択して下さい"}, {class: "js-select"} %>
        <%= ingredients_form.number_field :quantity, :placeholder => "一人分の量(g)", class: "form-control" %>
      </div>
    </div>
    
  <% end %>
  <div class="row mb-3">
    <div class="col-sm-1">手順</div>
    <div class="add-botton-box">
      <%= link_to_add_association "手順を追加する", recipe_form, :steps,
      class: 'add_fields',
      id: 'add-btn',
      data: {
        association_insertion_node: '#detail-association-insertion-point',
        association_insertion_method: 'after'
        }
      %>
    </div>
  
    <%= recipe_form.fields_for :steps do |form| %>
      <%= render "step_fields", f: form %>
    <% end %>
    <div id="detail-association-insertion-point"></div>
  </div>
  
    <div class="row mb-3">
      <div class="offset-md-1 col-sm-6">
        <%= recipe_form.submit class: "btn btn-success w-100" %>
      </div>
    </div>

<% end %>