<%= form_with model: recipe, local: true do |recipe_form| %>
  <%= render 'layouts/error_messages', model: recipe_form.object %>
  
  <div class="row mb-3">
    <div class="col-sm-1">
      <%= recipe_form.label :'title', class: "col-form-label" %>
    </div>
    <div class="col-sm-6">
      <%= recipe_form.text_field :title, :placeholder => "レシピのタイトルを入力", class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-sm-1">
      <%= recipe_form.label :'explanation', class: "col-form-label" %>
    </div>
    <div class="col-sm-6"><%= recipe_form.text_area :explanation, :placeholder => "レシピの説明を入力", class: "form-control" %></div>
  </div>
  
  <div class="row mb-3">
    <%= recipe_form.label :'img', class: "col-form-label col-sm-1" %>
    <div class="col-sm-6"><%= recipe_form.file_field :image, id: :recipe_img, class: "form-control" %></div>
  </div>
  <div class="row pb-3">
    <div class="col-4 offset-1">
      <% if @recipe.image.present? %>
        <%= image_tag @recipe.image.url, id: :img_prev, class: 'img-fluid', alt: "レシピ写真" %>
      <% else %>
        <%= image_tag "no_image_square.jpeg", id: :img_prev, class: 'img-fluid', alt: "レシピ写真" %>
      <% end %>
    </div>
  </div>

  <%= recipe_form.fields_for :ingredients do |ingredients_form| %>
    
    <div class="row mb-3">
      <label class="col-form-label col-sm-1"><%= "材料#{ingredients_form.index + 1}" %></label>
      <div class="col-sm-2 d-flex align-items-center"><%= ingredients_form.collection_select :food_id, Food.all, :id, :name, {include_blank: "選択して下さい"}, {class: "js-select"} %></div>
        <div class="offset-md-1 col-sm-2 d-flex align-items-center"><%= ingredients_form.number_field :quantity, :placeholder => "一人分の分量", class: "form-control" %></div>
        <div class="col-sm-1  d-flex align-items-center">g</div>
      <div class="row">
      </div>
    </div>
    
  <% end %>
  
  <%= recipe_form.fields_for :steps do |step_form| %>
    
    <div class="row mb-3">
      <label class="col-form-label col-sm-1"><%= "手順#{step_form.index + 1}" %></label>
      
      <%= step_form.hidden_field :num, :value => step_form.index + 1 %>
      
      <div class="col-sm-6"><%= step_form.text_area :explanation, :placeholder => "手順を入力", class: "form-control" %></div>
      
    </div>
  
  <% end %>

  <div class="row mb-3">
    <div class="offset-md-1 col-sm-6">
      <%= recipe_form.submit class: "btn btn-success w-100" %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#recipe_img").change(function(){
        readURL(this);
    });
  });
</script>