<h1><%= @recipe.title %></h1>
<p><%= @recipe.explanation %></p>
<p><%= image_tag @recipe.image.url if @recipe.image? %></p>

<h5>手順</h5>
<% @steps.each do |step| %>
    <%= "手順#{step.num}" %>
    <%= step.explanation %>
    <br>
<% end %>
<br>
<h5>材料</h5>
<% @ingredients.each do |ingredient| %>
    <%= ingredient.food.name %>
    <%= "#{ingredient.quantity} g" %>
    <br>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">たんぱく質</th>
      <th scope="col">脂質</th>
      <th scope="col">炭水化物</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= "#{@recipe.foods.sum(:protein)} g" %></td>
      <td><%= "#{@recipe.foods.sum(:fat)} g" %></td>
      <td><%= "#{@recipe.foods.sum(:carbo)} g" %></td>
    </tr>
  </tbody>
</table>


<% if current_user == @recipe.user %>
    <%= link_to "編集", edit_recipe_path(@recipe), class: 'btn btn-success btn-sm' %>
    <%= link_to "削除", @recipe, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
<% end %>